$main:#436372;
$default: #243f4d;
$accent: #414141;
$deftext: #585858;
$title: #191919;
$inactive: #8b8b8b;
$cream: #fcd7b6;

%dmsans-400{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%dmsans-500{
  font-family: 'DM Sans Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%poppins-700{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%rubik-400{
  font-family: 'Rubik Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik Medium', sans-serif;
  font-weight: 500;
}