@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
   padding-left: 35px;
  }
  &__list-link{
    color: $main;
    font-size: 15px;
    line-height: 12px;
    transition: all .5s;
    @extend %rubik-500;
    &:hover{
      color: $default;
    }
  }
  &__list-link--active{
    color: $default;
  }
}

.user-nav{
  display: flex;
  &::after{
  content: "";
  position: relative;
  border-right: 1px solid #fde7d3;
  top: 9px;
  right: 162px;
  height: 32px;
  }
  &__link{
    position: relative;
    &:nth-child(1){
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      transition: all .5s;
      &:hover{
        background-color: #a3bbc8;
      }
    }
    &:nth-child(2){
      background-color: #fcd7b6;
      width: 90px;
      height: 50px;
      border-radius: 50px 0 0 50px;
      margin-left: 20px;
    }
    &:nth-child(3){
      background-color: #fcd7b6;
      border-radius: 0 50px 50px 0;
      width: 90px;
      height: 50px;
    }
    
    &:nth-child(4){
      margin-left: 20px;
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all .5s;
      &:hover{
        background-color: #a3bbc8;
      }
    }
  }
  
  &__link{
    &-like{
      width: 19px;
      height: 17px;
      margin-left: 40px;
      margin-top: 16px;
    }
    &-coat{
      width: 19px;
      height: 17px;
      margin-left: 27px;
      margin-top: 16px;
    }

  }

  &__num__like, &__num__coat{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top:7px;
    right: 22px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    color: $default;
    @extend %dmsans-400;
  }
  &__num__coat{
    right: 36px;
  }
  &__link svg{
    fill: $default;
    transition: all .5s;
    &:hover{
      fill: white;
    }
  }
}


.footer-top{
  padding: 70px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 200px;
    margin-right: 100px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo{
    margin-bottom: 24px;
    display: block;
  }

  &__adress{
   font-size: 14px;
   line-height: 24px;
   display: block;
   margin-bottom: 20px;
  }

  &__title{
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    padding-top: 17px;
    @extend %dmsans-700;
  }

  &__text{
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 35px;
  }

  &__form{
    display: flex;
  }

  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    min-height: 38px;
    width: 100%;
    border: none;
    padding: 0 15px;
    color: #234969;
    font-size: 12px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
    &:focus{
      outline:1px solid rgba(163,187,200,0.3)
    }
  }

  &__form-btn{
    border: none;
    cursor: pointer;
    background-color: #a3bbc8;
    color: white;
    max-width: 100px;
    width: 100%;
    padding: 0 16px;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    transition: all 0.3s;
    &:hover{
      background-color: #234969;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px; 
    @extend %rubik-400;
    color: #7b7b7b;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__slash + &__slash{
    margin-left: 30px;
  }
  &__item{
    position: relative;
  }
  &__slash:not(:last-child)::before{
    content: '';
    position: absolute;
    background-color: #7b7b7b;
    width: 1px;
    height: 17px;
    right: -15px;
    top: 8px;
  }
  &__link{
    transition: all 0.3s;
  }
  &__link:hover{
    color: #191919;
  }
}

.footer-bottom--active{
  color: #191919;
}










@import 'media';