@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
    align-items: center;
    margin-left: 150px;
    margin-bottom: 10px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
   padding-left: 35px;
  }
  &__list-link{
    color: $main;
    font-size: 15px;
    line-height: 12px;
    transition: all .5s;
    @extend %rubik-500;
    &:hover{
      color: #A3BBC8;
    }
  }
  &__list-link--active{
    color: #A3BBC8;
  }
}

.user-nav{
  display: flex;
  &::after{
  content: "";
  position: relative;
  border-right: 1px solid #fde7d3;
  top: 9px;
  right: 162px;
  height: 32px;
  }
  &__link{
    position: relative;
    &:nth-child(1){
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      transition: all .5s;
      &:hover{
        background-color: #a3bbc8;
      }
    }
    &:nth-child(2){
      background-color: $cream;
      width: 90px;
      height: 50px;
      border-radius: 50px 0 0 50px;
      margin-left: 20px;
    }
    &:nth-child(3){
      background-color: $cream;
      border-radius: 0 50px 50px 0;
      width: 90px;
      height: 50px;
    }
    
    &:nth-child(4){
      margin-left: 20px;
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all .5s;
      &:hover{
        background-color: #a3bbc8;
      }
    }
  }
  
  &__link{
    &-like{
      width: 19px;
      height: 17px;
      margin-left: 40px;
      margin-top: 16px;
    }
    &-coat{
      width: 19px;
      height: 17px;
      margin-left: 27px;
      margin-top: 16px;
    }

  }

  &__num__like, &__num__coat{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top:7px;
    right: 22px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    color: $default;
    @extend %dmsans-400;
  }
  &__num__coat{
    right: 36px;
  }
  &__link svg{
    fill: $default;
    transition: all .5s;
    &:hover{
      fill: white;
    }
  }
}

.top{
  background-color: #edf1f4;
  padding: 24px 0 24px;
  &__title{
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 1;
    color: #222933;
    text-align: center;
    @extend %rubik-400;
  }
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    padding-right: 20px;
    position: relative;
    font-size: 14px;
    line-height: 1.7;
    color: #222933;
    @extend %rubik-400;
  }
   &__item:last-child{
    padding-right: 0;
    &::after{
      display: none;
    }
  }
  &__item::after{
    content: '/';
    position: absolute;
    right: 7px;
    top: 5px;
    color: #7b7b7b;
  }
}

.top-slider{
  background-color: $cream;
  max-width: 1770px;
  margin: 0 auto;
  padding: 190px 15px 0 15px;
  position: relative;
  &__inner::before{
    content: '';
    position: absolute;
    max-width: 634px;
    width: 115%;
    max-height: 634px;
    height: 115%;
    top: -120px;
    right: -10%;
    border-radius: 50%;
    background: linear-gradient(270deg
    , #fff 0%, rgba(255,255,255,0.5) 31.64%, rgba(255,255,255,0.222586) 74.35%, rgba(255,255,255,0) 99.87%);
  }
  &__item{
    display: flex !important;
  }
  &__title{
    max-width: 530px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 18px;
    line-height: 30px;
    max-width: 370px;
    margin-bottom: 40px;
    color: $main;
    @extend %rubik-400;
  }
  &__link{
    font-size: 15px;
    line-height: 12px;
    color: white;
    padding:22px 100px 22px 30px;
    background-color: #a3bbc8;
    @extend %rubik-500;
    position: relative;
    outline: none;
    transition: all 0.3s;
    &:hover{
      background-color: $main;
    }
  }
  &__img{
    margin: 55px 0 150px 0;
  }
  &__now{
    position: absolute;
    width: 22px;
    height: 9px;
    top: 27px;
    right: 19px;
    path{
      fill: white;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      button{
        padding: 0;
        font-size: 12px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fde3cc;
        color: #667983;
        margin-right: 11px;
        margin-bottom: 50px;
        cursor: pointer;
        outline: none;
        @extend %rubik-500;
        transition: all .3s;
        &:hover{
          background-color: white;
          color: $default;
        }
      }
      &.slick-active{
        button{
          background-color: #fff;
        }
      }
    }
  }
}

.slider-features{
  background-color: #fef7f0;
  max-width: 1770px;
  margin: 0 auto;
  min-height: 170px;
  &__item{
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__content{
    position: relative;
  }
  &__content-left{
    border-right: 1px solid #e8e4df;
    padding: 46px 150px 40px 220px;
    svg{
      width: 51px;
      height: 50px;
      top: 45px;
      left: 139px;
      position: absolute;
      fill: #a3bbc8
    }
    &::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #dfe3e2;
    border-radius: 50%;
    top: 77px;
    left: 172px;
    }
  }
  
  &__content-center{
    padding: 54px 155px 40px 230px;
    svg{
      width: 50px;
      height: 30px;
      top: 55px;
      left: 149px;
      position: absolute;
      fill: #a3bbc8
    }
    &::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #dfe3e2;
    border-radius: 50%;
    top: 73px;
    left: 183px;
    }
  }
  &__content-right{
    padding: 46px 155px 40px 240px;
    border-left: 1px solid #e8e4df;
    svg{
      width: 50px;
      top: 45px;
      left: 161px;
      height: 45px;
      position: absolute;
      fill: #a3bbc8
    }
    &::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #dfe3e2;
    border-radius: 50%;
    top: 77px;
    left: 196px;
    }
  }
  &__title{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
    color: $accent;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $deftext;
    @extend %dmsans-400;
    max-width: 200px;
  }
  &__text-center{
    font-size: 16px;
    line-height: 30px;
    color: $deftext;
    @extend %dmsans-400;
  }
  &__text-right{
    font-size: 16px;
    line-height: 30px;
    color: $deftext;
    @extend %dmsans-400;
    max-width: 204px;
  }
}

.products{
  padding: 68px 0 93px;
  &-top{
    text-align: center;
  }
  &-top__filter{
    margin-bottom: 80px;
  }
  &-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 93px;
    text-align: center;
  }
  &-content__item{
    display: flex;
    flex-direction: column;
    padding: 30px 25px 35px;
    max-width: 270px;
    max-height: 380px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 6px 47px 3px #dae4e9;
  }
  &-content__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    position: relative;
    overflow: hidden;
  }
  &-search{
    width: 20px;
    height: 20px;
    fill: #a3bbc8;
    position: relative;
    top: 13px;
    left: 12px;
  }
  &-content__link::before{
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 50%);
    transition: background-color 0.3s;
  }
  &-content__link:hover::before{
    background-color: #a3bbc8;
  }
  &-content__link:hover svg{
    fill: white;
  }

  &-content__btn{
    margin: 0 0 0 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;

  }
  &-content__btn::before{
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 50%);
    transition: background-color 0.3s;
  }
  &-content__btn:hover::before{
    background-color: #a3bbc8;
  }
  &-content__btn:hover svg{
    fill: white;
  }

  &-coat{
    width: 22px;
    height: 20px;
    fill: #a3bbc8;
    position: relative;
    top: 13px;
    left: 12px;
  }
  &-like{
    width: 22px;
    height: 18px;
    fill: #a3bbc8;
    position: relative;
    top: 13px;
    left: 12px;
  }
  
  &-content__choice{
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 200px;
    left: 0;
    right: 0;
    bottom: 10px;
    transform: translateY(250%);
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  &-content__inner:hover{
    .products-content__choice{
     transform: translateY(-95%);
    }
    .products-content__img{
      cursor: pointer;
    }
  }
  &-content__info{
    margin-top: 50px;
  }
  &-content__subtitle{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    @extend %dmsans-500;
  }
  &-content__price{
    font-size: 16px;
    line-height: 20px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
}

.products-bottom{
  padding-top: 83px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    background-color: #feefe2
  }
  &__image{
    position: relative;
  }
  &__lamp{
    position: absolute;
    bottom: 94px;
    left: 140px;
    max-width: 300px;
    max-height: 400px;
    height: 100%;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
  &__left{
    margin: 100px 145px 90px 0;
  }
  &__right{
    margin: 71px 110px 90px 0;
  }
  &__title{
    font-size: 26px;
    @extend %dmsans-700;
    margin-bottom: 25px;
  }
  &__text{
    font-size: 16px;
  }
  &__link{
    font-size: 15px;
    line-height: 12px;
    color: $main;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    max-width: 180px;
    border-radius: 5px;
    padding: 18px;
    @extend %rubik-500;
    margin-top: 30px;
    position: relative;
    transition: all .5s;
  }

  &__link:hover{
   background-color: $cream;
   box-shadow: 2px 2px 2px 2px rgba(73, 66, 66, 0.05);
   border: 1px solid $cream;
  }
  &__arrows{
    position: absolute;
    width: 22px;
    height: 9px;
    fill: #243f4d;
    top: 19px;
    right: 18px;
  }
 
}

.top-design{
  padding-bottom: 115px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
  &__item{
    position: relative;
    padding: 35px 0 0 33px;
    max-width: 370px;
    width: 100%;
    min-height: 245px;
    height: 100%;
    text-align: left;
    background-color: #f8f8f8;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    z-index: 1;
  }
  &__item:hover{
    box-shadow: 0px 6px 47px 3px rgba( 5,4,4, 0.2);
  }
  &__title{
    font-size: 20px;
    line-height: 20px;
    max-width: 180px;
    margin-bottom: 12px;
    color: $title;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 20px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
  &__img{
    position: absolute;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__itemone{
    top: 98px;
    right: -76px;
  }
  &__itemtwo{
    top: 98px;
    right: -41px;
  }
  &__itemthree{
    top: 54px;
    right: 60px;
  }
  &__itemfour{
    top: 78px;
    right: -40px;
  }
  &__itemfive{
    top: 35px;
    right: 32px;
  }
  &__itemsix{
    top: 105px;
    right: -100px;
  }

  &__link{
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.video{
  padding-bottom: 110px;
  &-background{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 500px;
    height: 100%;
    z-index: 1;
    background-image: url('../images/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &-play{
    position: absolute;
    font-size: 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-play::before, &-play::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  &-play::before{
    width: 101px;
    height: 101px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a3bbc8;
    z-index: -2;
  }
  &-play:hover::before{
    background-color: #608092;
  }
  &-play::after{
    width: 133px;
    height: 133px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.4;
    z-index: -3;
  }
  &-play:hover::after{
    opacity: 0.7;
  }
  &-button{
    width: 22px;
    height: 25px;
    fill: white;
  }
}

.articles{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title{
    margin: 0;
  }
  &__link{
    position: relative;
    cursor: pointer;
    color: $title;
    font-size: 16px;
    padding-right: 25px;
    @extend %dmsans-700;
    transition: all .5s;
    &::before{
      content: '';
      position: absolute;
      right: 0;
      top: 9px;
      width: 7px;
      height: 12px;
      background-image: url(../images/news/arrow-right.svg);
    }
    &:hover{
      color: $inactive;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    background-color: white;
  }
  &__item-zoom{
    overflow: hidden;
  }
  &__item-img{
    max-height: 250px;
    height: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    transition: 1s;
    filter: grayscale(0%);
    &:hover{
      filter: grayscale(99%);
      transform: scale(1.2);
    }
  }
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px;
    min-height: 180px;
  }
  &__inner-content{
    position: relative;
    line-height: 1.15;
  }
  &__inner-btn{
    position: absolute;
    top: -44px;
    padding: 5px 30px;
    text-transform: uppercase;
    color: white;
    background-color: #a3bbc8;
    border-radius: 13px;
    font-size: 14px;
    line-height: 18px;
    @extend %poppins-700;
  }
  &__inner-text{
    font-size: 18px;
    line-height: 0;
    color: #262626;
    @extend %dmsans-500;
    &:hover{
      color: #608092;
    }
  }
  &__inner-info{
    margin-top: auto;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: #222933;
    @extend %dmsans-500;
    border-top: 1px solid #b3b7b5;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 20px;
      left: 150px;
      width: 17px;
      height: 17px;
      background-image: url(../images/news/author.svg);
      background-size: cover;
    }
  }
  &__inner-data{
    margin-right: 45px;
    margin-left: 20px;
    &::after{
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      width: 17px;
      height: 17px;
      background-image: url(../images/news/data.svg);
      background-size: cover;
    }
  }
}

.partners{
  margin-top: -170px;
  padding: 270px 0 70px;
  min-height: 426px;
  right: 0;
  left: 0;
  bottom: 15px;
  background-color: #fef7f0;
  z-index: -1;
  &__nonnews{
    margin-top: 0;
    padding: 70px 0 70px;
    min-height: 250px;
    background-color: #fef7f0;
  }
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__items-img{
    max-width: 170px;
    max-height: 85px;
    object-fit: cover;
  }
}

.about .about__board{
  padding-top: 37px;
  display: flex;
  border-top: 2px solid rgba(9,49,111,0.102);
  max-width: 530px;
  justify-content: space-around;
}
.about{
  padding: 120px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__img{
    max-width: 570px;
    width: 100%;
    max-height: 670px;
    margin-right: 20px;
  }
  &__content{
    padding: 83px 0 0 18px;
    color: $default;
  }
  &__lead{
    display: flex;
    margin-bottom: 50px;
  }
  &__num{
    margin-right: 23px;
    font-size: 140px;
    line-height: 100px;
    color: #a3bbc8;
    @extend %rubik-700;
  }
  &__comment{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 0.9;
    & span+span{
      margin-top: 18px;
    }
  }
  &__title{
    color: $default;
    font-size: 36px;
    margin-bottom: 35px;
  }
  &__text{
    font-size: 16px;
    margin-bottom: 60px;
  }
  &__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    @extend %dmsans-700;
    & span{
      font-size: 16px;
      color: #4c4c4c;
    }
    & svg{
      fill: #a3bbc8;
      position: absolute;
    }
  }
  &__note{
    width: 37px;
    height: 38px;
    left: 0;
    top: 5px;
  }
  &__mega{
    width: 44px;
    height: 40px;
    left: 27px;
    top: 4px;
  }
  &__award{
    width: 43px;
    height: 42px;
    left: 25px;
    top: 4px;
  }
  &__list-note{
    width: 170px;
    padding-left: 55px;
  }
  &__list-mega{
    width: 200px;
    border-right: 1px solid rgba(9,49,111,0.102);
    border-left: 1px solid rgba(9,49,111,0.102);
    padding-left: 90px;
  }
  &__list-award{
    width: 160px;
    padding-left: 90px;
  }
}

.advantages .advantages__items{
  display: flex;
  justify-content: space-around;
  padding: 82px 0 80px;
  align-items: center;
}
.advantages .advantages__deliv{
  margin-top: 13px;
  margin-bottom: 0;
}
.advantages{
  background-color: $cream;
  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  center;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      width: 33px;
      height: 33px;
      right: 42px;
      top: 29px;
      background-color: #a3bbc8;
      border-radius: 50%;
      z-index: -1;
    }
  }
  svg{
    fill: #243f4d;
    width: 67px;
    height: 65px;
    margin-bottom: 13px;
  }
  &__stats{
    display: block;
    font-size: 36px;
    text-align: center;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 18px;
    margin-top: 15px;
    display: block;
    @extend %dmsans-700;
  }
}

.team{
  padding: 120px 0 190px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 370px;
  }
  &__title{
    color: $default;
  }
  &__text{
    font-size: 16px;
    width: 305px;
    margin-bottom: 40px;
  }
  &__link{
    position: relative;
    padding: 15px 60px 15px 20px;
    color: white;
    background-color: #a3bbc8;
    border-radius: 5px;
    transition: background-color 0.3s;
    @extend %dmsans-700;
    &:hover{
      background-color: $main;
    }
  }
  &__arrow-right{
    position: absolute;
    width: 15px;
    height: 11px;
    fill: white;
    top: 18px;
    right: 24px;
  }
  &__board{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }
  &__person{
    position: relative;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: 1s;
    filter: grayscale(70%);
    &:hover{
      filter: grayscale(0%);
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &__profile{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 31px 24px;
    background-color: #fff;
    max-width: 325px;
    width: 100%;
    bottom: -60px;
    left: -1px;
    box-shadow: 0px 6px 57px 0px rgba(37,37,37,0.05);
  }
  &__name{
    font-size: 22px;
    color: $main;
    @extend %dmsans-700;
  }
  &__skill{
    font-size: 16px;
    color: #565872;
    @extend %rubik-400;
  }
  &__info{
    display: flex;
    flex-direction: column;
  }
  &__icon{
    position: relative;
    z-index: 1;
    & svg{
      position: absolute;
      fill: #888;
    }
  }
  &__icon--inst::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    top: -20px;
    right: 51px;
  }
  &__icon--google::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    top: -20px;
    right: 3px;
  }
  &__instagram{
    width: 18px;
    height: 18px;
    top: -9px;
    right: 62px;
  }
  &__google{
    width: 23px;
    height: 23px;
    top: -12px;
    right: 10px;
  }
}

.login__btn,
.login__link{
  display: block;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border: none;
  @extend %rubik-500;
  &:hover{
    background-color: $main;
  }
}

.login{
  padding: 117px 0 136px;
  &__block{
    margin: 0 auto;
    max-width: 470px;
    width: 100%;
  }
  &__text{
    display: block;
    margin-bottom: 30px;
    color: $main;
    font-size: 14px;
    @extend %rubik-400;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 5px;
    height: 60px;
    padding: 0 15px;
    &:focus{
      outline:1px solid rgba(163,187,200,0.3)
    }
  }
  &__btn{
    margin-top: 45px;
    margin-bottom: 32px;
    background-color: #a3bbc8;
    color: white;
  }
  &__under{
    display: flex;
    justify-content: space-between;
  }
  &__text--problem{
    margin-bottom: 20px;
    padding-top: 30px;
    text-align: center;
    border-top: 2px solid #f6f6f6;
  }
  &__link{
    border: 2px solid #a3bbc8;
    color: $default;
    text-align: center;
    &:hover{
      border: 2px solid white;
      color: white;
    }
  }
}


.terms{
  padding: 115px 0px 115px 0;
  color: #243f4d;
  &__content h2{
    margin-bottom: 22px;
    font-size: 24px;
    @extend %rubik-500;
  }
  &__content ol{
    margin-bottom: 62px;
    display: block;
    list-style-type: none;
    counter-reset: item;
    padding: 0;
  }
  &__content li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
  }
  &__content p{
    margin-bottom: 52px;
  }
  &__content li,
  &__content p{
    font-size: 16px;
    line-height: 1.9;
    @extend %rubik-400;
  }
}
.terms__content li:nth-child(-n+9)::before {
  content: "0" counter(item) ".";
}
.terms__content li:nth-child(-n+9)::before, .terms__content li:nth-child(n+10)::before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: item;
}

.shop{
  padding: 100px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    max-width: 270px;
    width: 100%;
    color: $default;
  }
  &__title{
    position: relative;
    margin-bottom: 24px;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    @extend %dmsans-700;
    &-price{
      margin-top: 55px;
    }
    &-category::before{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      left: 111px;
      top: 13px;
      background-color: #a3bbc8;
    }
    &-price::before{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      left: 60px;
      top: 13px;
      background-color: #a3bbc8;
    }
  }
  &__category{
    position: relative;
    padding: 13px 24px 12px 15px;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    color: $default;
    &:hover{
      background-color: #edf1f4;
    }
    &::before{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 18px;
      right: 20px;
      background-image: url(../images/filter_next.svg);
      background-repeat: no-repeat;
    }
  }
  &__category--active{
    background-color: #edf1f4;
  }
  &__title-brand{
    margin-top: 70px;
    &::before{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      left: 70px;
      top: 13px;
      background-color: #a3bbc8;
    }
  }
  &__category-brand{
    position: relative;
    padding: 13px 24px 12px 15px;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    color: $default;
    display: flex;
    justify-content: space-between;
    &:hover{
      background-color: #edf1f4;
      color: $default;
    }
  }
  &__category-brand--active{
    background-color: #edf1f4;
  }
  &__asembl{
    color: #b3b3b3;
  }
  &__asembl--active{
    color: $default;
  }
  &__title-recent{
    margin-top: 40px;
    &::before{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      left: 190px;
      top: 13px;
      background-color: #a3bbc8;
    }
  }
  &__recent-card{
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    color: #333;
  }
  &__recent-link {
    padding: 3px;
    margin-right: 15px;
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #fefefe;
    box-shadow: 0px 0px 1px 3px rgba(242,242,242,60%);
    overflow: hidden;
  } 
  &__recent-image{
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
  }
  &__recent-content{
    max-width: 180px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }
  &__recent-title{
    font-size: 14px;
    cursor: pointer;
  }
  &__recent-price{
    font-size: 15px;
  }
}
.shop-content{
  &__inner--list{
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    margin: 0 0 0 30px;
    position: absolute;
    z-index: -1;
  }
  &__item--row{
    margin: 0 0 40px 0;
    padding: 0;
    flex-direction: row;
    max-width: 100%;
    box-shadow: none;
    display: none;
    img{
      max-height: 500px;
      height: 100%;
      object-fit: cover;
    }
    .products-content__choice{
      display: none;
    }
    .products-content__inner{
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 370px;
      width: 100%;
      min-height: 500px;
      display: none;
    }
    .products-content__info{
      margin: 0 0 0 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      display: none;
    }
  }
  &__btn{
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
  }
  &__line-row{
    width: 21px;
    height: 21px;
    fill: #a3bbc8;
    transition: all .5s;
    &:hover{
      fill: $default;
    }
  }
  &__line-column{
    width: 28px;
    height: 21px;
    fill: #a3bbc8;
    transition: all .5s;
    &:hover{
      fill: $default;
    }
  }
  &__btn--active{
    svg{
      fill: $default;
    }
  }
  &__line-column--active{
    fill: $default;
  }
  
  &__inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
  &__item{
    margin-left: 30px;
    margin-bottom:35px ;
    min-width: 270px;
    text-align: center;
  }
}

.card__products{
  display: flex;
  margin-bottom: 40px;
  &-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 370px;
    width: 100%;
    min-height: 500px;
    background-color: #fefefe;
    box-shadow: 0px 0px 1px 3px rgba(242,242,242,60%);
    padding-bottom: 75px;
    margin: 0 0 0 30px;
    cursor: pointer;
    img{
      max-height: 500px;
      height: 100%;
      object-fit: cover;
      margin-top: 55px;
    }
  }
  &-subtitle{
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
  }
  &-price{
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  &-info{
    margin: 0 0 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
    color: $default;
    margin-bottom: 30px;
    display: block;
  }
  &-icons{
    display: flex;
    margin-left: 0;
  }
  &-icon{
    font-size: 0;
    margin-right: 12px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba( 37, 37, 37, 0.05);
  }
  button{
    padding: 0;
    border: none;
    outline: 0;
    cursor: pointer;
    &:hover{
      display: flex;
      justify-content: center;
      width: 48%;
      font-size: 15px;
      color: white;
      background-color: #a3bbc8;
      padding: 10px 0;
      border-radius: 5px;
      text-transform: uppercase;
      svg{
        display: none;
      }
    }
  }
  .cart-product{
    fill: #a3bbc8;
    width: 22px;
    height: 20px;
    margin-top: 10px;
  }
  .heart-product{
    width: 22px;
    height: 18px;
    fill: #a3bbc8;
    margin-top: 10px;
  }
}
.pagination{
  &__column{
    display: flex;
    justify-content: start;
    margin-left: 29px;
    margin-top: 75px;
    padding-bottom: 20px;
  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  &__link{
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #243f4d;
    border: 1px solid #a3bbc8;
    transition: all .5s;
    &:hover{
      color: white;
      background-color: #a3bbc8;
    }
  }
  &__link--active{
    color: white;
    background-color: #a3bbc8;
  }
  &__link--arrow{
    padding: 0 20px;
  }
}
.pagination__item+.pagination__item {
  margin-left: 15px;
}











.card__products-none{
  display: none;
}
.star-list{
  margin-bottom: 30px;
}
.star{
  padding: 0;
  margin-bottom: 5px;
}
.filter-price__mark{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.irs--flat {
  height: 30px;
}
.irs--flat .irs-line {
  top: 8px;
  height: 1px;
  background-color: #a3bbc8;
  box-shadow: 0px 0px 1px 1px rgba(163,187,200,60%);
  border-radius: 1px;
  outline-color: #c2d2db;
}

.irs-max, 
.irs-min{
  display: none;
}

.irs--flat .irs-handle {
  top: 1px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-bar {
  top: 8px;
  height: 2px;
  background-color: #a3bbc8;
  box-shadow: 0px 0px 1px 2px rgba(163,187,200,60%);
  outline-color: #c2d2db;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
 display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
 display: none;
}



.footer-top{
  padding: 70px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 200px;
    margin-right: 100px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__logo{
    margin-bottom: 24px;
    display: block;
  }

  &__adress{
   font-size: 14px;
   line-height: 24px;
   display: block;
   margin-bottom: 20px;
  }

  &__title{
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    padding-top: 17px;
    @extend %dmsans-700;
  }

  &__text{
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 35px;
  }

  &__form{
    display: flex;
  }

  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    min-height: 38px;
    width: 100%;
    border: none;
    padding: 0 15px;
    color: #234969;
    font-size: 12px;
    &::placeholder{
      color: #234969;
      @extend %dmsans-400;
      font-size: 12px;
    }
    &:focus{
      outline:1px solid rgba(163,187,200,0.3)
    }
  }

  &__form-btn{
    border: none;
    cursor: pointer;
    background-color: #a3bbc8;
    color: white;
    max-width: 100px;
    width: 100%;
    padding: 0 16px;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    transition: all 0.3s;
    &:hover{
      background-color: #234969;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px; 
    @extend %rubik-400;
    color: #7b7b7b;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__slash + &__slash{
    margin-left: 30px;
  }
  &__item{
    position: relative;
  }
  &__slash:not(:last-child)::before{
    content: '';
    position: absolute;
    background-color: #7b7b7b;
    width: 1px;
    height: 17px;
    right: -15px;
    top: 8px;
  }
  &__link{
    transition: all 0.3s;
  }
  &__link:hover{
    color: #191919;
  }
}

.footer-bottom--active{
  color: #191919;
}


.product-detalis{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 570px;
    margin-right: 30px;
    display: flex;
  }
  &__thumb{
    width: 140px;
    margin-right: 30px;
  }
  &__thumb-item{
    margin-bottom: 30px;
    width: 140px;
    height: 160px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 3px #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img{
      object-fit: contain;
    }
  }
  &__thumb-item--storn{
    margin-bottom: 30px;
    width: 140px;
    height: 160px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 3px #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__content{
    width: 570px;
    margin-left: 40px;
  }
  &__big{
    width: 385px;
    height: 540px;
    box-shadow: 0px 0px 1px 3px #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      object-fit: contain;
    }
  }
  &__subtitle{
    font-size: 40px;
    color: #333;
    margin-top: 35px;
  }
  &__price{
    font-size: 30px;
    color: #333;
  }
  &__text{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 35px;
  }
  &__li{
    display: flex;
    font-size: 16px;
    color: $default;
  }
  &__btn{
    border-radius: 5px;
    background-color: #a3bbc8;;
    border: none;
    color: white;
    height: 50px;
    width: 208px;
    font-size: 15px;
    margin-left: 12px;
    cursor: pointer;
    &:hover{
      background-color: $default;
    }
  }
  &__info{
    margin-top: 55px;
  }
  &__title1{
    font-size: 16px;
  }
  &__info-text{
    font-size: 16px;
    margin-left: 5px;
    a{
      font-size: 16px;
      color: $default;
    }
  }
}

.detalis-star{
  padding: 0;
  margin: 25px 0 35px;
}
.jq-number__field { 
  width: 150px;
  border: 1px solid #a3bbc8;
  border-radius: 0; 
}
.jq-number__field input {
  text-align: center;
  width: 50px;
  height: 50px;
  color: #333333;
  @extend %rubik-400;
  margin-left: 50px;
  border-right: 1px solid #a3bbc8;
  border-left: 1px solid #a3bbc8;
  border-top: none;
  border-bottom: none;
}

.jq-number {
  position: relative;
  padding: 0;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 9px;
  height: 9px;
  top: 50%;
  transform: translateY(-50%);
}
.jq-number__spin.minus{
  left: 20px;
}

.jq-number__spin.plus{
  right: 20px;
}


.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 1px;
  color: #333;
  background-color: #333;
    
}
.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 6px;
  width: 1px;
  height: 12px;
  color: #333;
  background-color: #333;
    
}

.jq-number__spin.plus{
  right: 20px;
}

.product-detalis__tabs{
  padding-top: 70px;
  &-form{
    text-align: center
  }
  &-btn{
    border: none;
    background-color: #edf1f4;
    color: $default;
    border-radius: 5px;
    width: 240px;
    height: 50px;
    cursor: pointer;
    transition: all .5s;
    margin-bottom: 35px;
    margin-right: 13px;
    &:hover{
      color: white;
      background-color: #a3bbc8;
    }
  }
  &-btn--active{
    color: white;
    background-color: #A3BBC8;
  }
  &-text{
    font-size: 16px;
  }
}

.related__products{
  padding-bottom: 100px;
  &-slider{
   position: relative;
  }
  &-title{
    margin-bottom: 50px;
    margin-left: 10px;
  }
  &-info{
    margin-top: 35px;
  }
}

.products-content__item{
  box-shadow: 0px 6px 9px 3px #dae4e9;
}

.related__products-slider .slick-list{
  width: 1170px;
  height: 430px;
  text-align: center;
  padding-top: 23px;
}

.slick-arrow{
  position: absolute;
  font-size: 0;
  border: 2px solid #edf1f4;
  background-color: transparent;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  &:focus{
    border-color: #a3bbc8;
  }
}

.slick-next{
  position: absolute;
  left: 1115px;
  top: -80px;
  background-image: url(../images/detalis/rightarrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slick-prev{
  position: absolute;
  left: 1050px;
  top: -80px;
  background-image: url(../images/detalis/leftarrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

.blog{
  padding: 120px 0;
  &__item{
    margin-bottom: 50px;
    position: relative;
  }
  &__content{
    width: 830px;
    position: relative;
  }
  &__wrapper{
   display: flex;
  }
  &__item-content{
    margin-bottom: 45px;
  }
  &__item-rev{
    position: absolute;
    color: white;
    background-color: #a3bbc8;
    width: 275px;
    height: 70px;
    font-size: 12px;
    top: 431px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    a{
      font-size: 12px;
      color: white;
    }
  }
  &__item-data::after {
    content: '';
    position: absolute;
    top: 26px;
    left: 18px;
    width: 17px;
    height: 17px;
    background-image: url(../images/news/data.svg);
    background-size: cover;
  }
  &__item-person::after{
    content: '';
    position: absolute;
    top: 26px;
    right: 98px;
    width: 17px;
    height: 17px;
    background-image: url(../images/news/author.svg);
    background-size: cover;
  }
  &__item-info{
    position: relative;
  }
  &__item-title{
    font-size: 36px;
    color: #333;
    margin-bottom: 35px;
    line-height: 0;
  }
  &__item-par{
    @extend %rubik-500;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__item-text{
    font-size: 16px;
    margin-bottom: 25px;
  }
  &__item-link{
    display: block;
    max-height: 60px;
    max-width: 180px;
    padding: 21px 0px 24px 17px;
    background-color: #a3bbc8;
    transition: all .5s;
    svg{
      position: absolute;
      width: 22px;
      height: 9px;
      fill: white;
      left: 135px;
      bottom: 26px;
  
    }
    &:hover{
      background-color: $default;
    }
  }
  &__item-quote{
    height: 130px;
    background-color: #edf1f4;
    font-size: 16px;
    padding: 20px 100px 20px 30px;
    border-left: 7px solid #a3bbc8;
    position: relative;
    margin-bottom: 45px;
  }
  &__quote-author{
    display: block;
    margin-top: 20px;
    line-height: 0;
    margin-left: 47px;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #a3bbc8;
      left: 34px;
      bottom: 28px;
    }
  }
  &__filters{
    width: 270px;
    margin-left: 70px;
    right: 0;
    position: relative;
  }
  &__filters-search{
    display: flex;
  }
  &__filters-input{
    width: 225px;
    height: 43px;
    border: 2px solid #eef2f5;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 15px;
  }
  &__filters-btn{
    background-color: #eef2f5;
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-bottom: 55px;
    &::after{
      content: '';
      position: absolute;
      top: 12px;
      left: 12px;
      width: 18px;
      height: 18px;
      background-image: url(../images/blog/search.png);
    }
  }
  &__detalis-content{
    display: flex;
    justify-content: space-between;
  }
  &__detalis-title{
    margin-bottom: 15px;
    margin-top: 25px;
  }
  &__detalis-right{
    margin-left: 30px;
  }
  &__detalis-text{
    font-size: 16px;
    color: #565872;
  }
  &__detalis-title--down{
    margin-top: 35px;
  }
  &__author{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    padding: 25px 20px 25px 0;
  }
  &__author-info{
    display: flex;
  }
  &__author-link{
    display: block;
    font-size: 18px;
    @extend %rubik-500;
    color: #333;
  }
  &__author-hub{
    margin-left: 23px;
  }
  &__author-spec{
    color: #666;
    font-size: 16px;
  }
  &__author-title{
    font-size: 16px;
    color: #333;
    margin-right: 10px;
  }
  &__author-link--right{
    margin-left: 15px;
    margin-right: 10px;
  }

  &__social-link+&__social-link{
    margin-left: 10px;
  }






  &__author-item{
    display: flex;
    justify-content: flex-end;
    svg{
      fill: #a1a1a1;
      transition: all .2s;
    }
    svg:hover{
      fill: #a3bbc8;
    }
  }

  &__author-fb{
    width: 16px;
    height: 16px;
  }
  &__author-tw{
    width: 16px;
    height: 16px;
  }
  &__author-inst{
    width: 16px;
    height: 16px;
  }
  &__author-google{
    width: 16px;
    height: 16px;
  }
  &__author-left{
    display: flex;
  }
  &__filter-posts{
    margin-top: 45px;
  }
  &__filter-posts::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    right: 83px;
    top: 13px;
    background-color: #a3bbc8;
  }
}

.blog__comments{
  padding: 60px 0 80px 0;
  &-resul{
    font-size: 24px;
    display: block;
    color: $main;
    @extend %rubik-700;
    margin-bottom: 30px;
  }
  &-items{
    padding-bottom: 20px;
    padding-top: 30px;
  }
  &-item{
    display: flex;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    line-height: 0.8;
    width: 700px;
    margin-left: 30px;
  }
  &-name{
    font-size: 16px;
    color: $main;
    @extend %rubik-700;
  }
  &-data{
    font-size: 14px;
    color: #9e9e9e;
  }
  &-content{
    width: 700px;
    margin: -70px 0 0px 130px;
    position: relative;
  }
  &-text{
    font-size: 16px;
    color: #565872;
    max-width: 700px;
  }
  &-text--reply{
    max-width: 570px;
  }
  &-btn::after{
    position: absolute;
    content: '';
    background-image: url(../images/arrow.svg);
    bottom: 10px;
    left: 41px;
    width: 16px;
    height: 13px;
  }
  img{
    min-width: 100px;
    min-height: 100px;
  }
  button{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: #516278;
    font-size: 14px;
  }
  &-items--reply{
    max-width: 700px;
    margin-left: 130px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 30px 0 20px 0;
  }
}

.blog__comment{
  position: relative;
  &-title{
    font-size: 24px;
    color: $main;
    @extend %rubik-700;
    margin-bottom: 40px;
  }
  &-input--name{
    width: 400px;
    height: 50px;
    border: 1px solid #e5e5e5;
    padding: 18px 18px;
    color: #333;
    font-size: 16px;
    background-image: url(../images/person.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 14px;
    margin-right: 25px;
    &::placeholder{
      font-size: 16px;
      color: #999;
    }
  }
  &-input--email{
    width: 400px;
    height: 50px;
    border: 1px solid #e5e5e5;
    padding: 18px 18px;
    color: #333;
    font-size: 16px;
    background-image: url(../images/mail.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 13px 18px;
  }
  &-input--comm{
    margin-top: 30px;
    height: 115px;
    width: 830px;
    border: 1px solid #e5e5e5;
    color: #333;
    font-size: 16px;
    padding: 15px 20px 0 20px;
    resize: none;
    background-image: url(../images/comm.svg);
    background-position: 794px;
    background-position-y: 15px;
    background-repeat: no-repeat;
    background-size: 17px;
    &:focus{
     outline: 1px solid #a3bbc8;
     background-image: none;
    }
    &::placeholder{
      font-size: 16px;
      color: #999;
    }
  }
  input:focus{
    outline: 1px solid #a3bbc8;
    background-image: none;
  }
  &-btn{
    border: none;
    color: white;
    background-color: #a3bbc8;
    width: 190px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
    &:hover{
     background-color: $default;
    }
  }
  
}

.pagination__list-blog{
  margin-top: 25px;
  justify-content: flex-start;
}
.blog__item  .blog__item-link{
  font-size: 15px;
  line-height: 12px;
  color: white;
}

.blog__filter{
  &-item{
    min-height: 70px;
    min-width: 70px;
    margin-right: 17px;
  }
  &-items{
    display: flex;
    height: 70px;
    margin-bottom: 20px;
  }
  &-text{
    font-size: 14px;
    color: #333;
    line-height: 20px;
  }
  &-info{
    position: relative;
  }
  &-data{
    font-size: 12px;
    color: #9a9a9a;
    margin-left: 20px;
    &::before{
      content: '';
      position: absolute;
      top: 48px;
      left: 1px;
      width: 17px;
      height: 17px;
      background-image: url(../images/news/data.svg);
      background-size: cover;
    }
  }
}

.contact{
  padding: 120px 0;
  &__subtitle{
    font-size: 16px;
    color: #a3bbc8;
    @extend %poppins-700;
    display: block;
    text-align: center;
  }
  &__title{
    font-size: 35px;
    @extend %dmsans-700;
    margin-top: 5px;
    text-align: center;
  }
  &__cont{
    margin-top: 205px;
    display: block;
    margin-bottom: 7px;
    font-size: 20px;
    color: #222;
    @extend %dmsans-700;
  }
  &-address::after{
    content: '';
    position: absolute;
    background-color: white;
    background-image: url(../images/flags.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    color: black;
    width: 80px;
    height: 80px;
    top: 70px;
    left: 145px;
    bottom: 0;
    border-radius: 14px;
    z-index: 2;
  }
  &__title{
    margin-bottom: 70px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 120px;
  }
  &__item{
    background-color: #fbfbfb;
    text-align: center;
    align-items: flex-end;
    min-width: 370px;
    min-height: 380px;
    border: 1px solid $main;
  }
  &__list-item{
    font-size: 16px;
    color: #565872;
  }
  &__list-item a{
    font-size: 16px;
    color: #565872;
  }
  &-email::after{
    content: '';
    position: absolute;
    background-color: white;
    background-image: url(../images/mail.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    color: black;
    width: 80px;
    height: 80px;
    top: 70px;
    right: 547px;
    bottom: 0;
    border-radius: 14px;
    z-index: 2;
  }
   &-phone::after{
    content: '';
    position: absolute;
    background-color: white;
    background-image: url(../images/call.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    color: black;
    width: 80px;
    height: 80px;
    top: 70px;
    right: 145px;
    bottom: 0;
    border-radius: 14px;
    z-index: 2;
  }
  &__navigation{
    display: flex;
    justify-content: space-between;
  }
  &__left-nav{
    width: 620px;
  }
  &__name{
    margin-right: 15px;
    background-image: url(../images/person.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 14px;
  }
  &__email{
    background-image: url(../images/mail.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 13px 18px;
  }
  input{
    width: 300px;
    height: 50px;
    border: none;
    background-color: #fafafa;
    font-size: 16px;
    padding: 17px 20px;
    &::placeholder{
      font-size: 16px;
      color: #565872;
    }
    &:focus{
    outline: 1px solid #a3bbc8;
    background-image: none;
    }
  }
  &__mess{
    margin-top: 25px;
    width: 620px;
    height: 175px;
    padding: 17px 20px;
    font-size: 16px;
    resize: none;
    background-image: url(../images/comm.svg);
    background-position: 590px;
    background-position-y: 24px;
    background-repeat: no-repeat;
    background-size: 17px;
    border: none;
    background-color: #fafafa;
    &::placeholder{
      font-size: 16px;
      color: #565872;
    }
    &:focus{
    outline: 1px solid #a3bbc8;
    background-image: none;
    }
  }
  &__btn{
    border: none;
    color: white;
    background-color: #a3bbc8;
    width: 190px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s;
    &:hover{
     background-color: $default;
    }
  }
}

#map {
  height: 335px;
  width: 500px;
}











@import 'media'