.header{
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
    align-items: center;
    margin-left: 150px;
    margin-bottom: 10px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
   padding-left: 35px;
  }
  &__list-link{
    color: $main;
    font-size: 15px;
    line-height: 12px;
    transition: all .5s;
    @extend %rubik-500;
    &:hover{
      color: #A3BBC8;
    }
  }
  &__list-link--active{
    color: #A3BBC8;
  }
}

.user-nav{
  display: flex;
  &::after{
  content: "";
  position: relative;
  border-right: 1px solid #fde7d3;
  top: 9px;
  right: 162px;
  height: 32px;
  }
  &__link{
    position: relative;
    &:nth-child(1){
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
      transition: all .5s;
      &:hover{
        background-color: #a3bbc8;
      }
    }
    &:nth-child(2){
      background-color: $cream;
      width: 90px;
      height: 50px;
      border-radius: 50px 0 0 50px;
      margin-left: 20px;
    }
    &:nth-child(3){
      background-color: $cream;
      border-radius: 0 50px 50px 0;
      width: 90px;
      height: 50px;
    }
    
    &:nth-child(4){
      margin-left: 20px;
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all .5s;
      &:hover{
        background-color: #a3bbc8;
      }
    }
  }
  
  &__link{
    &-like{
      width: 19px;
      height: 17px;
      margin-left: 40px;
      margin-top: 16px;
    }
    &-coat{
      width: 19px;
      height: 17px;
      margin-left: 27px;
      margin-top: 16px;
    }

  }

  &__num__like, &__num__coat{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top:7px;
    right: 22px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    color: $default;
    @extend %dmsans-400;
  }
  &__num__coat{
    right: 36px;
  }
  &__link svg{
    fill: $default;
    transition: all .5s;
    &:hover{
      fill: white;
    }
  }
}