<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/blog.min.css">
</head>
<body>
  
  {% include 'app/module/_header/_header.html' %}

  <main class="main">
    {% include 'app/module/_top/_top.html' %}

    <section class="blog">
      <div class="container">
        <div class="blog__wrapper">
          <div class="blog__content">
            <div class="blog__item">
              <div class="blog__item-content">
                <img src="images/blog/bg1.jpg" alt="background img">
                <div class="blog__item-rev">
                  <span class="blog__item-data">28 JANUARY, 2020</span>
                  <a class="blog__item-person" href="#">BY ADMIN</a>
                </div>
              </div>
              <div class="blog__item-info">
                <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="blogdetalis.html">
                  View More
                  <svg class="blog-arrow">
                    <path
                      d="M.296 5.472H.288h16.956l-.1 2.857a.284.284 0 00-.084.205c0 .077.029.151.084.205l.172.172a.285.285 0 00.407.002l4.193-4.211a.292.292 0 000-.409L17.723.08a.29.29 0 00-.407 0l-.172.173a.287.287 0 000 .405l.113 2.865H.292A.297.297 0 000 3.818v1.37c0 .159.137.284.296.284z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="blog__item">
              <div class="blog__item-content">
                <img src="images/blog/bg2.jpg" alt="background img">
                <div class="blog__item-rev">
                  <span class="blog__item-data">28 JANUARY, 2020</span>
                  <a class="blog__item-person" href="#">BY ADMIN</a>
                </div>
              </div>
              <div class="blog__item-info">
                <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing
                  elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More
                  <svg class="blog-arrow">
                    <path
                      d="M.296 5.472H.288h16.956l-.1 2.857a.284.284 0 00-.084.205c0 .077.029.151.084.205l.172.172a.285.285 0 00.407.002l4.193-4.211a.292.292 0 000-.409L17.723.08a.29.29 0 00-.407 0l-.172.173a.287.287 0 000 .405l.113 2.865H.292A.297.297 0 000 3.818v1.37c0 .159.137.284.296.284z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="blog__item">
              <div class="blog__item-content">
                <img src="images/blog/bg3.jpg" alt="background img">
                <div class="blog__item-rev">
                  <span class="blog__item-data">28 JANUARY, 2020</span>
                  <a class="blog__item-person" href="#">BY ADMIN</a>
                </div>
              </div>
              <div class="blog__item-info">
                <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing
                  elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More
                  <svg class="blog-arrow">
                    <path
                      d="M.296 5.472H.288h16.956l-.1 2.857a.284.284 0 00-.084.205c0 .077.029.151.084.205l.172.172a.285.285 0 00.407.002l4.193-4.211a.292.292 0 000-.409L17.723.08a.29.29 0 00-.407 0l-.172.173a.287.287 0 000 .405l.113 2.865H.292A.297.297 0 000 3.818v1.37c0 .159.137.284.296.284z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="blog__item">
              <div class="blog__item-content">
                <img src="images/blog/bg4.jpg" alt="background img">
                <div class="blog__item-rev">
                  <span class="blog__item-data">28 JANUARY, 2020</span>
                  <a class="blog__item-person" href="#">BY ADMIN</a>
                </div>
              </div>
              <div class="blog__item-info">
                <h3 class="blog__item-title">Fonsectetur adipisicing eiusmod</h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing
                  elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More
                  <svg class="blog-arrow">
                    <path
                      d="M.296 5.472H.288h16.956l-.1 2.857a.284.284 0 00-.084.205c0 .077.029.151.084.205l.172.172a.285.285 0 00.407.002l4.193-4.211a.292.292 0 000-.409L17.723.08a.29.29 0 00-.407 0l-.172.173a.287.287 0 000 .405l.113 2.865H.292A.297.297 0 000 3.818v1.37c0 .159.137.284.296.284z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="pagination">
              <ul class="pagination__list pagination__list-blog">
                <li class="pagination__item">
                  <a class="pagination__link pagination__link--active" href="#">1</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link pagination__link--arrow" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="blog__filters">
            <form class="blog__filters-search">
              <input class="blog__filters-input" type="text">
              <button class="blog__filters-btn" type="submit">
              </button>
            </form>
            <div class="filter__item filter-insur">
              <span class="shop__title shop__title-category">CATEGORY</span>
              <ul class="shop__items">
                <li class="shop__list">
                  <button class="shop__category shop__category--active" type="button"> Chair</button>
                </li>
                <li class="shop__list">
                  <button class="shop__category" type="button">Table</button>
                </li>
                <li class="shop__list">
                  <button class="shop__category" type="button">Lamp</button>
                </li>
                <li class="shop__list">
                  <button class="shop__category" type="button">Watch</button>
                </li>
                <li class="shop__list">
                  <button class="shop__category" type="button">Clock</button>
                </li>
              </ul>
            </div>
            <div class="blog__filter">
              <span class="shop__title blog__filter-posts">RECENT POSTS</span>
              <div class="blog__filter-items">
                <div class="blog__filter-item">
                  <a href="#"><img src="images/blog/bg1min.jpg" alt="min image"></a>
                </div>
                <div class="blog__filter-info">
                  <p class="blog__filter-text">
                    Corem ipsum dolor tetur adipisicing elit
                  </p>
                  <span class="blog__filter-data">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
              <div class="blog__filter-items">
                <div class="blog__filter-item">
                  <a href="#"><img src="images/blog/bg2min.jpg" alt="min image"></a>
                </div>
                <div class="blog__filter-info">
                  <p class="blog__filter-text">
                    Fdipisicing elit, sed do eiusmod tempor
                  </p>
                  <span class="blog__filter-data">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
              <div class="blog__filter-items">
                <div class="blog__filter-item">
                  <a href="#"><img src="images/blog/bg3min.jpg" alt="min image"></a>
                </div>
                <div class="blog__filter-info">
                  <p class="blog__filter-text">
                    Eonsectetur adipisicing elit, sed do eiusmod
                  </p>
                  <span class="blog__filter-data">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
              <div class="blog__filter-items">
                <div class="blog__filter-item">
                   <a href="#"><img src="images/blog/bg4min.jpg" alt="min image"></a>
                </div>
                <div class="blog__filter-info">
                  <p class="blog__filter-text">
                    gnim ad minim veniam, quis nostrud
                  </p>
                  <span class="blog__filter-data">
                    28 JANUARY, 2020
                  </span>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </section>


   
    <div class="partners partners__nonnews">
      <div class="container">
        <div class="partners__items">
          <img class="partners__items-img" src="images/partners/item1.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item2.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item3.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item4.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item5.png" alt="logo partners">
        </div>
      </div>
    </div>
  </main>
  {% include 'app/module/_footer/_footer.html' %}



  <script src="js/main.min.js"></script>
</body>
</html>