<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/detalis.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  
  {% include 'app/module/_header/_header.html' %}
  <main class="main">
    {% include 'app/module/_top/_top.html' %}

    <section class="product-detalis">
      <div class="container">
        <div class="product-detalis__item">
          <div class="product-detalis__inner">
            <div class="product-detalis__slide">
              <div class="product-detalis__thumb">
                <div class="product-detalis__thumb-item--storn">
                  <img src="images/detalis/item1.png" alt="thumb photo">
                </div>
                <div class="product-detalis__thumb-item">
                  <img src="images/detalis/item2.png" alt="thumb photo">
                </div>
                <div class="product-detalis__thumb-item">
                  <img src="images/detalis/item3.jpg" alt="thumb photo">
                </div>
              </div>
              <div class="product-detalis__big">
                <div class="product-detalis__big-main">
                  <img src="images/detalis/main.png" alt="big photo">
                </div>
              </div>
            </div>
            <div class="product-detalis__content">
              <h3 class="product-detalis__subtitle">Pendant lamp</h3>
              <div class="detalis-star" data-rateyo-rating="4"></div>
              <span class="product-detalis__price">23$</span>
              <p class="product-detalis__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
              <form class="product-detalis__form" action="#">
                <input class="product-detalis__num" type="number" value="1" min="1" >
                <button class="product-detalis__btn" type="submit">ADD TO CART</button>
                <div class="product-detalis__info">
                  <ul class="product-detalis__list">
                    <li class="product-detalis__li">
                      <div class="product-detalis__title">
                        SKU:
                      </div>
                      <div class="product-detalis__info-text">
                        014
                      </div>
                    </li>
                    <li class="product-detalis__li">
                      <div class="product-detalis__title">
                        Category:
                      </div>
                      <div class="product-detalis__info-text">
                        Lights
                      </div>
                    </li>
                    <li class="product-detalis__li">
                      <div class="product-detalis__title">
                        Tag:
                      </div>
                      <div class="product-detalis__info-text">
                        <a href="#">Decorative</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="product-detalis__tabs">
          <form class="product-detalis__tabs-form" action="#">
            <button class="product-detalis__tabs-btn product-detalis__tabs-btn--active" type="button">Description</button>
            <button class="product-detalis__tabs-btn" type="button">Additional information</button>
            <button class="product-detalis__tabs-btn" type="button">Reviews (2)</button>
          </form>
          <p class="product-detalis__tabs-text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>

        </div>
      </div>
    </section>

    <section class="related__products">
      <div class="container">
        <h2 class="related__products-title title">Related products</h2>
        <div class="related__products-slider">
          <div class="products-content__item ">
            <div class="products-content__inner">
              <img class="products-content__img" src="images/products/item1.png" alt="Item image">
              <div class="products-content__choice">
                <a class="products-content__link" href="#">
                  <svg class="products-search">
                    <path
                      d="M19.45 19.448a1.873 1.873 0 01-2.651 0l-4.588-4.588a8.819 8.819 0 002.651-2.651l4.588 4.589c.733.732.733 1.92 0 2.65zM7.5 14.999A7.5 7.5 0 117.502-.003 7.5 7.5 0 017.5 15zm0-13.126a5.632 5.632 0 00-5.625 5.626A5.63 5.63 0 007.5 13.123a5.63 5.63 0 005.625-5.624A5.632 5.632 0 007.5 1.873zM4.375 7.499h-1.25A4.381 4.381 0 017.5 3.123v1.251a3.129 3.129 0 00-3.125 3.125z">
                    </path>
                  </svg>
                </a>
                <button class="products-content__btn">
                  <svg class="products-coat">
                    <path
                      d="M21.934 5.216l-3.717 8.56c-.135.299-.42.488-.746.488H7.257c-.366 0-.692-.244-.787-.597L3.147 1.629H.814C.366 1.629 0 1.262 0 .814c0-.449.366-.816.814-.816h2.943c.367 0 .692.245.787.598l3.323 12.038h9.062l3.011-6.929H9.902c-.448 0-.814-.367-.814-.816 0-.449.366-.815.814-.815h11.286c.271 0 .529.137.678.366.149.233.177.517.068.776zM6.484 16.303c1.017 0 1.845.828 1.845 1.847 0 1.019-.828 1.849-1.845 1.849-1.018 0-1.845-.83-1.845-1.849 0-1.019.827-1.847 1.845-1.847zm11.408 0c1.017-.068 1.899.706 1.967 1.712.027.502-.122.979-.448 1.345-.326.38-.773.598-1.262.639h-.135c-.963 0-1.764-.761-1.831-1.726-.068-1.006.691-1.902 1.709-1.97z">
                    </path>
                  </svg>
                </button>
                <button class="products-content__btn">
                  <svg class="products-like">
                    <path
                      d="M21.99 5.82a6.212 6.212 0 00-1.849-4.1C19.016.61 17.545-.001 16.002-.001c-2.311 0-3.948 1.785-4.827 2.745l-.156.169-.083-.094c-.804-.916-2.476-2.82-4.938-2.82-1.543 0-3.013.611-4.139 1.721A6.212 6.212 0 00.01 5.82c-.082 1.541.31 2.88 1.271 4.338.861 1.308 3.104 3.374 4.763 4.748 1.705 1.411 3.95 3.093 4.965 3.093 1.032 0 3.269-1.68 4.965-3.087 1.646-1.367 3.876-3.432 4.746-4.754.646-.984 1.375-2.366 1.27-4.338zm-2.376 3.61c-.632.961-2.412 2.736-4.431 4.418-2.406 2.004-3.831 2.795-4.172 2.826-.342-.035-1.77-.833-4.188-2.843-2.03-1.686-3.813-3.454-4.437-4.402-.795-1.206-1.12-2.297-1.054-3.538.135-2.519 2.228-4.569 4.666-4.569 1.863 0 3.216 1.542 3.943 2.37.428.488.663.755 1.059.755.409 0 .672-.286 1.151-.809.794-.866 2.122-2.316 3.851-2.316 2.438 0 4.531 2.05 4.666 4.569.067 1.254-.248 2.313-1.054 3.539z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="products-content__info related__products-info">
              <h3 class="products-content__subtitle">
                Wooden radio
              </h3>
              <span class="products-content__price">
                $29.00
              </span>
            </div>
          </div>
          <div class="products-content__item">
            <div class="products-content__inner">
              <img class="products-content__img" src="images/products/item2.png" alt="Item image">
              <div class="products-content__choice">
                <a class="products-content__link" href="#">
                  <svg class="products-search">
                    <path
                      d="M19.45 19.448a1.873 1.873 0 01-2.651 0l-4.588-4.588a8.819 8.819 0 002.651-2.651l4.588 4.589c.733.732.733 1.92 0 2.65zM7.5 14.999A7.5 7.5 0 117.502-.003 7.5 7.5 0 017.5 15zm0-13.126a5.632 5.632 0 00-5.625 5.626A5.63 5.63 0 007.5 13.123a5.63 5.63 0 005.625-5.624A5.632 5.632 0 007.5 1.873zM4.375 7.499h-1.25A4.381 4.381 0 017.5 3.123v1.251a3.129 3.129 0 00-3.125 3.125z">
                    </path>
                  </svg>
                </a>
                <button class="products-content__btn">
                  <svg class="products-coat">
                    <path
                      d="M21.934 5.216l-3.717 8.56c-.135.299-.42.488-.746.488H7.257c-.366 0-.692-.244-.787-.597L3.147 1.629H.814C.366 1.629 0 1.262 0 .814c0-.449.366-.816.814-.816h2.943c.367 0 .692.245.787.598l3.323 12.038h9.062l3.011-6.929H9.902c-.448 0-.814-.367-.814-.816 0-.449.366-.815.814-.815h11.286c.271 0 .529.137.678.366.149.233.177.517.068.776zM6.484 16.303c1.017 0 1.845.828 1.845 1.847 0 1.019-.828 1.849-1.845 1.849-1.018 0-1.845-.83-1.845-1.849 0-1.019.827-1.847 1.845-1.847zm11.408 0c1.017-.068 1.899.706 1.967 1.712.027.502-.122.979-.448 1.345-.326.38-.773.598-1.262.639h-.135c-.963 0-1.764-.761-1.831-1.726-.068-1.006.691-1.902 1.709-1.97z">
                    </path>
                  </svg>
                </button>
                <button class="products-content__btn">
                  <svg class="products-like">
                    <path
                      d="M21.99 5.82a6.212 6.212 0 00-1.849-4.1C19.016.61 17.545-.001 16.002-.001c-2.311 0-3.948 1.785-4.827 2.745l-.156.169-.083-.094c-.804-.916-2.476-2.82-4.938-2.82-1.543 0-3.013.611-4.139 1.721A6.212 6.212 0 00.01 5.82c-.082 1.541.31 2.88 1.271 4.338.861 1.308 3.104 3.374 4.763 4.748 1.705 1.411 3.95 3.093 4.965 3.093 1.032 0 3.269-1.68 4.965-3.087 1.646-1.367 3.876-3.432 4.746-4.754.646-.984 1.375-2.366 1.27-4.338zm-2.376 3.61c-.632.961-2.412 2.736-4.431 4.418-2.406 2.004-3.831 2.795-4.172 2.826-.342-.035-1.77-.833-4.188-2.843-2.03-1.686-3.813-3.454-4.437-4.402-.795-1.206-1.12-2.297-1.054-3.538.135-2.519 2.228-4.569 4.666-4.569 1.863 0 3.216 1.542 3.943 2.37.428.488.663.755 1.059.755.409 0 .672-.286 1.151-.809.794-.866 2.122-2.316 3.851-2.316 2.438 0 4.531 2.05 4.666 4.569.067 1.254-.248 2.313-1.054 3.539z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="products-content__info related__products-info">
              <h3 class="products-content__subtitle">
                Wooden chair
              </h3>
              <span class="products-content__price">
                $29.00
              </span>
            </div>
          </div>
          <div class="products-content__item">
            <div class="products-content__inner">
              <img class="products-content__img" src="images/products/item3.png" alt="Item image">
              <div class="products-content__choice">
                <a class="products-content__link" href="#">
                  <svg class="products-search">
                    <path
                      d="M19.45 19.448a1.873 1.873 0 01-2.651 0l-4.588-4.588a8.819 8.819 0 002.651-2.651l4.588 4.589c.733.732.733 1.92 0 2.65zM7.5 14.999A7.5 7.5 0 117.502-.003 7.5 7.5 0 017.5 15zm0-13.126a5.632 5.632 0 00-5.625 5.626A5.63 5.63 0 007.5 13.123a5.63 5.63 0 005.625-5.624A5.632 5.632 0 007.5 1.873zM4.375 7.499h-1.25A4.381 4.381 0 017.5 3.123v1.251a3.129 3.129 0 00-3.125 3.125z">
                    </path>
                  </svg>
                </a>
                <button class="products-content__btn">
                  <svg class="products-coat">
                    <path
                      d="M21.934 5.216l-3.717 8.56c-.135.299-.42.488-.746.488H7.257c-.366 0-.692-.244-.787-.597L3.147 1.629H.814C.366 1.629 0 1.262 0 .814c0-.449.366-.816.814-.816h2.943c.367 0 .692.245.787.598l3.323 12.038h9.062l3.011-6.929H9.902c-.448 0-.814-.367-.814-.816 0-.449.366-.815.814-.815h11.286c.271 0 .529.137.678.366.149.233.177.517.068.776zM6.484 16.303c1.017 0 1.845.828 1.845 1.847 0 1.019-.828 1.849-1.845 1.849-1.018 0-1.845-.83-1.845-1.849 0-1.019.827-1.847 1.845-1.847zm11.408 0c1.017-.068 1.899.706 1.967 1.712.027.502-.122.979-.448 1.345-.326.38-.773.598-1.262.639h-.135c-.963 0-1.764-.761-1.831-1.726-.068-1.006.691-1.902 1.709-1.97z">
                    </path>
                  </svg>
                </button>
                <button class="products-content__btn">
                  <svg class="products-like">
                    <path
                      d="M21.99 5.82a6.212 6.212 0 00-1.849-4.1C19.016.61 17.545-.001 16.002-.001c-2.311 0-3.948 1.785-4.827 2.745l-.156.169-.083-.094c-.804-.916-2.476-2.82-4.938-2.82-1.543 0-3.013.611-4.139 1.721A6.212 6.212 0 00.01 5.82c-.082 1.541.31 2.88 1.271 4.338.861 1.308 3.104 3.374 4.763 4.748 1.705 1.411 3.95 3.093 4.965 3.093 1.032 0 3.269-1.68 4.965-3.087 1.646-1.367 3.876-3.432 4.746-4.754.646-.984 1.375-2.366 1.27-4.338zm-2.376 3.61c-.632.961-2.412 2.736-4.431 4.418-2.406 2.004-3.831 2.795-4.172 2.826-.342-.035-1.77-.833-4.188-2.843-2.03-1.686-3.813-3.454-4.437-4.402-.795-1.206-1.12-2.297-1.054-3.538.135-2.519 2.228-4.569 4.666-4.569 1.863 0 3.216 1.542 3.943 2.37.428.488.663.755 1.059.755.409 0 .672-.286 1.151-.809.794-.866 2.122-2.316 3.851-2.316 2.438 0 4.531 2.05 4.666 4.569.067 1.254-.248 2.313-1.054 3.539z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="products-content__info related__products-info">
              <h3 class="products-content__subtitle">
                Wooden chair
              </h3>
              <span class="products-content__price">
                $29.00
              </span>
            </div>
          </div>
          <div class="products-content__item">
            <div class="products-content__inner">
              <img class="products-content__img" src="images/products/item4.png" alt="Item image">
              <div class="products-content__choice">
                <a class="products-content__link" href="#">
                  <svg class="products-search">
                    <path
                      d="M19.45 19.448a1.873 1.873 0 01-2.651 0l-4.588-4.588a8.819 8.819 0 002.651-2.651l4.588 4.589c.733.732.733 1.92 0 2.65zM7.5 14.999A7.5 7.5 0 117.502-.003 7.5 7.5 0 017.5 15zm0-13.126a5.632 5.632 0 00-5.625 5.626A5.63 5.63 0 007.5 13.123a5.63 5.63 0 005.625-5.624A5.632 5.632 0 007.5 1.873zM4.375 7.499h-1.25A4.381 4.381 0 017.5 3.123v1.251a3.129 3.129 0 00-3.125 3.125z">
                    </path>
                  </svg>
                </a>
                <button class="products-content__btn">
                  <svg class="products-coat">
                    <path
                      d="M21.934 5.216l-3.717 8.56c-.135.299-.42.488-.746.488H7.257c-.366 0-.692-.244-.787-.597L3.147 1.629H.814C.366 1.629 0 1.262 0 .814c0-.449.366-.816.814-.816h2.943c.367 0 .692.245.787.598l3.323 12.038h9.062l3.011-6.929H9.902c-.448 0-.814-.367-.814-.816 0-.449.366-.815.814-.815h11.286c.271 0 .529.137.678.366.149.233.177.517.068.776zM6.484 16.303c1.017 0 1.845.828 1.845 1.847 0 1.019-.828 1.849-1.845 1.849-1.018 0-1.845-.83-1.845-1.849 0-1.019.827-1.847 1.845-1.847zm11.408 0c1.017-.068 1.899.706 1.967 1.712.027.502-.122.979-.448 1.345-.326.38-.773.598-1.262.639h-.135c-.963 0-1.764-.761-1.831-1.726-.068-1.006.691-1.902 1.709-1.97z">
                    </path>
                  </svg>
                </button>
                <button class="products-content__btn">
                  <svg class="products-like">
                    <path
                      d="M21.99 5.82a6.212 6.212 0 00-1.849-4.1C19.016.61 17.545-.001 16.002-.001c-2.311 0-3.948 1.785-4.827 2.745l-.156.169-.083-.094c-.804-.916-2.476-2.82-4.938-2.82-1.543 0-3.013.611-4.139 1.721A6.212 6.212 0 00.01 5.82c-.082 1.541.31 2.88 1.271 4.338.861 1.308 3.104 3.374 4.763 4.748 1.705 1.411 3.95 3.093 4.965 3.093 1.032 0 3.269-1.68 4.965-3.087 1.646-1.367 3.876-3.432 4.746-4.754.646-.984 1.375-2.366 1.27-4.338zm-2.376 3.61c-.632.961-2.412 2.736-4.431 4.418-2.406 2.004-3.831 2.795-4.172 2.826-.342-.035-1.77-.833-4.188-2.843-2.03-1.686-3.813-3.454-4.437-4.402-.795-1.206-1.12-2.297-1.054-3.538.135-2.519 2.228-4.569 4.666-4.569 1.863 0 3.216 1.542 3.943 2.37.428.488.663.755 1.059.755.409 0 .672-.286 1.151-.809.794-.866 2.122-2.316 3.851-2.316 2.438 0 4.531 2.05 4.666 4.569.067 1.254-.248 2.313-1.054 3.539z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="products-content__info related__products-info">
              <h3 class="products-content__subtitle">
                Retro table
              </h3>
              <span class="products-content__price">
                $29.00
              </span>
            </div>
          </div>
          <div class="products-content__item">
            <div class="products-content__inner">
              <img class="products-content__img" src="images/products/item5.png" alt="Item image">
              <div class="products-content__choice">
                <a class="products-content__link" href="#">
                  <svg class="products-search">
                    <path
                      d="M19.45 19.448a1.873 1.873 0 01-2.651 0l-4.588-4.588a8.819 8.819 0 002.651-2.651l4.588 4.589c.733.732.733 1.92 0 2.65zM7.5 14.999A7.5 7.5 0 117.502-.003 7.5 7.5 0 017.5 15zm0-13.126a5.632 5.632 0 00-5.625 5.626A5.63 5.63 0 007.5 13.123a5.63 5.63 0 005.625-5.624A5.632 5.632 0 007.5 1.873zM4.375 7.499h-1.25A4.381 4.381 0 017.5 3.123v1.251a3.129 3.129 0 00-3.125 3.125z">
                    </path>
                  </svg>
                </a>
                <button class="products-content__btn">
                  <svg class="products-coat">
                    <path
                      d="M21.934 5.216l-3.717 8.56c-.135.299-.42.488-.746.488H7.257c-.366 0-.692-.244-.787-.597L3.147 1.629H.814C.366 1.629 0 1.262 0 .814c0-.449.366-.816.814-.816h2.943c.367 0 .692.245.787.598l3.323 12.038h9.062l3.011-6.929H9.902c-.448 0-.814-.367-.814-.816 0-.449.366-.815.814-.815h11.286c.271 0 .529.137.678.366.149.233.177.517.068.776zM6.484 16.303c1.017 0 1.845.828 1.845 1.847 0 1.019-.828 1.849-1.845 1.849-1.018 0-1.845-.83-1.845-1.849 0-1.019.827-1.847 1.845-1.847zm11.408 0c1.017-.068 1.899.706 1.967 1.712.027.502-.122.979-.448 1.345-.326.38-.773.598-1.262.639h-.135c-.963 0-1.764-.761-1.831-1.726-.068-1.006.691-1.902 1.709-1.97z">
                    </path>
                  </svg>
                </button>
                <button class="products-content__btn">
                  <svg class="products-like">
                    <path
                      d="M21.99 5.82a6.212 6.212 0 00-1.849-4.1C19.016.61 17.545-.001 16.002-.001c-2.311 0-3.948 1.785-4.827 2.745l-.156.169-.083-.094c-.804-.916-2.476-2.82-4.938-2.82-1.543 0-3.013.611-4.139 1.721A6.212 6.212 0 00.01 5.82c-.082 1.541.31 2.88 1.271 4.338.861 1.308 3.104 3.374 4.763 4.748 1.705 1.411 3.95 3.093 4.965 3.093 1.032 0 3.269-1.68 4.965-3.087 1.646-1.367 3.876-3.432 4.746-4.754.646-.984 1.375-2.366 1.27-4.338zm-2.376 3.61c-.632.961-2.412 2.736-4.431 4.418-2.406 2.004-3.831 2.795-4.172 2.826-.342-.035-1.77-.833-4.188-2.843-2.03-1.686-3.813-3.454-4.437-4.402-.795-1.206-1.12-2.297-1.054-3.538.135-2.519 2.228-4.569 4.666-4.569 1.863 0 3.216 1.542 3.943 2.37.428.488.663.755 1.059.755.409 0 .672-.286 1.151-.809.794-.866 2.122-2.316 3.851-2.316 2.438 0 4.531 2.05 4.666 4.569.067 1.254-.248 2.313-1.054 3.539z">
                    </path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="products-content__info related__products-info">
              <h3 class="products-content__subtitle">
                Wooden radio
              </h3>
              <span class="products-content__price">
                $29.00
              </span>
            </div>
          </div>


        </div>
      </div>
    </section>
    
    <section class="articles">
      <div class="container">
        <div class="articles__top">
          <h2 class="title articles__title">Our Insights & Articles</h2>
          <a class="articles__link">View All</a>
        </div>
        <div class="articles__items">
          <div class="articles__item">
            <div class="articles__item-zoom">
              <a class="articles__item-link" href="#">
                <img class="articles__item-img" src="images/news/item1.jpg" alt="phote news">
              </a>
            </div>
            <div class="articles__inner">
              <div class="articles__inner-content">
                <span class="articles__inner-btn">NEWS</span>
                <a href="#" class="articles__inner-text">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam
                </a>
              </div>
              <div class="articles__inner-info">
                <span class="articles__inner-data">
                  28 January, 2020
                </span>
                <span class="articles__inner-author">
                  BY ADMIN
                </span>
              </div>
            </div>
          </div>
          <div class="articles__item">
            <div class="articles__item-zoom">
              <a class="articles__item-link" href="#">
                <img class="articles__item-img" src="images/news/item2.jpg" alt="phote news">
              </a>
            </div>
            <div class="articles__inner">
              <div class="articles__inner-content">
                <span class="articles__inner-btn">NEWS</span>
                <a href="#" class="articles__inner-text">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore
                </a>
              </div>
              <div class="articles__inner-info">
                <span class="articles__inner-data">
                  28 January, 2020
                </span>
                <span class="articles__inner-author">
                  BY ADMIN
                </span>
              </div>
            </div>
          </div>
          <div class="articles__item">
            <div class="articles__item-zoom">
              <a class="articles__item-link" href="#">
                <img class="articles__item-img" src="images/news/item3.jpg" alt="phote news">
              </a>
            </div>
            <div class="articles__inner">
              <div class="articles__inner-content">
                <span class="articles__inner-btn">NEWS</span>
                <a href="#" class="articles__inner-text">
                  Rncididunt ut labore et dolore magna aliqua.
                  Ut enim
                </a>
              </div>
              <div class="articles__inner-info">
                <span class="articles__inner-data">
                  28 January, 2020
                </span>
                <span class="articles__inner-author">
                  BY ADMIN
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="partners">
      <div class="container">
        <div class="partners__items">
          <img class="partners__items-img" src="images/partners/item1.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item2.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item3.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item4.png" alt="logo partners">
          <img class="partners__items-img" src="images/partners/item5.png" alt="logo partners">
        </div>
      </div>
    </div>
  </main>
{% include 'app/module/_footer/_footer.html' %}



  <script src="js/main.min.js"></script>
</body>
</html>