<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  
  {% include 'app/module/_header/_header.html' %} 

  <main class="main">
    {% include 'app/module/_top-slider/_top-slider.html' %}

    {% include 'app/module/_top-slider-feat/_top-slider-feat.html' %}

    {% include 'app/module/_products/_products.html' %}
    
    {% include 'app/module/_top-design/_top-design.html' %}

    {% include 'app/module/_video/_video.html' %}
    
    {% include 'app/module/_articles/_articles.html' %}
  </main>
    {% include 'app/module/_footer/_footer.html' %}



  <script src="js/main.min.js"></script>
</body>
</html>